@{
    ViewBag.Title = "Logined";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Logout", "Home")">Logout</a>
@model FurnitureStore.Models.User
<body>
    <div>
        <label>Welcome: @Html.Raw(Model.LASTNAME+" "+Model.FIRSTNAME+" "+Model.MIDDLENAME)</label>
    </div>
</body>
<script>
    var content = new Ext.Panel({
        region: 'center',
        renderTo: document.body,
        margins: '0 0 0 0',
        padding: '0 0 0 0',
        height: '49px',
        cls: 'empty',
        title: 'My Panel',
        id: 'txest123',
        //bodyStyle: 'background:ivory; font-size: 13pt; width: 100%',
        html: '<button style="height: 20px">Roles</button>',
        listeners: {
            'render': {
                fn: function () {
                    this.body.on('click', this.handleClick, this);
                },
                scope: content,
                single: true
            }
        },
        handleClick: function (e, t) {
            window.open('@Url.Action("Index", "Role")', "_self")
        }
    });
</script>
